/* styles/App.css */
.App {
  display: flex;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

select {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  /* width: 100px; */
  padding: 10px 20px;
  background-color: #87ff89;
  color: #000000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
  color: white;
}

.class-dropdown {
  padding: 4px;
  margin: 0px 10px;
}

.Dashboard {
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
}

.ExcelUpload {
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
}

input {
  margin: 10px 0px;
}
.login {
  width: 50vw;
  height: 50vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* margin-left: 100px; */
  position: absolute;
}

.login input {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 50px;
}
