/* styles/App.css */
.App {
  display: flex;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

select {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.class-dropdown{
  padding: 4px;
  margin: 0px 10px;
}

.Dashboard{
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
}

.ExcelUpload{
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
}