body{
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #87ff89;
  color: #000000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
  color: white;
}

.class-dropdown {
  padding: 4px;
  margin: 0px 10px;
}

input {
  margin: 10px 0px;
}

.CustomButton{
  width: max-content;
}

/* Login Page */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.credential[type="text"],
input.credential[type="password"] {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  width: 270px;
  padding: 10px;
  background-color: #87ff89;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #76e57a;
}

