.fee-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #F8F9FA;
  border: 1px solid #ddd;
}

.fee-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.fee-form {
  margin-bottom: 20px;
}

.fee-buttons {
  margin-bottom: 20px;
}


.fee-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.import_export {
  display: flex;
  
}

.innerbox{
  width : 50%;
  margin: 2px;
}