.fee-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.fee-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.fee-form {
  margin-bottom: 20px;
}

.fee-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.fee-form input {
  width: 98%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fee-buttons {
  margin-bottom: 20px;
}


.fee-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

